.login-container{
  height:80vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.login-box{
  background:rgba(255,255,255,0.08);
  padding:40px;
  border-radius:14px;
  width:320px;
  text-align:center;
}

.login-box input{
  width:100%;
  margin:10px 0;
  padding:10px;
  border:none;
  border-radius:8px;
}

.login-box button{
  width:100%;
}